@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

html {
  color: black;
  background-color: var(--color-neutral-900);
  font-family: "Nunito", sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color: white;
  }
}