:root {
  --bg-color: #ffffff;
  --fg-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: #ffffff;
    --bg-color: #1d2021;
  }
}

html {
  background-color: var(--bg-color);
}